<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <nav class="sticky top-0 transparent bg-gray-100"><%- include('partials/navigation')%></nav>
    <section class="sections px-52">
        <div class="h-[95vh]"><%- include('partials/topPage')%></div>
        <div class="secondPage h-[95vh]"><%- include('partials/about')%></div>
        <div class="contactPage h-[95vh]"><%- include('partials/contact')%></div>
    </section>
</body>

</html>